<h2>What's fresh today</h2>

<% top_recipes = Recipe.first(5) %>
<% top_recipes.each do |recipe| %>
  <h3><%= link_to recipe.name, recipe %></h3><br>
  <h4>Uploaded by: <a href="/users/<%=recipe.user.id%>"><%= recipe.user.name %></a> on <%=recipe.created_at%></h4><br>
  <p><%= recipe.description %><p><br>
  <br>
<% end %>